{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('user_edit', {id: user.id}) }}" method="post" class="form-horizontal">
        <div class="form-group">
            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                {{ form_widget(edit_form.fullName) }}
            </div>
        </div>

        <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-12">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
{% endblock %}
