{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>
                    <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary">Edit</a>
                    <form action="{{ path('user_delete', { 'id': user.id }) }}" style="display: inline">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
