{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <fieldset>
            <legend>User Details</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.fullName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Username</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.username) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Password</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.plainPassword.first) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
            </div>
        </fieldset>
        <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-12">
            <input type="submit" value="Create" class="btn btn-success">
        </div>
    {{ form_end(form) }}
{% endblock %}
