{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Fullname</th>
            <td>{{ user.fullName }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles[0] }}</td>
        </tr>
        </tbody>
    </table>
    {{ form_start(delete_form) }}
        <input type="submit" value="Delete" class="btn btn-danger">
    {{ form_end(delete_form) }}
{% endblock %}
