{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('legalcase_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Case</a>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Case Name</th>
                <th>Crime Scene</th>
                <th>Suspect</th>
                <th>Victim</th>
                <th>Complainant</th>
                <th>Incident Date</th>
                <th>Complain Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for legalCase in legalCases %}
            <tr>
                <td>{{ legalCase.caseNumber }}</td>
                <td>{{ legalCase.caseName }}</td>
                <td>{{ legalCase.crimeScene }}</td>
                <td>{{ legalCase.suspect.fullName }}</td>
                <td>{{ legalCase.victim.fullName }}</td>
                <td>{{ legalCase.complainant.fullName }}</td>
                <td>{% if legalCase.incidentDate %}{{ legalCase.incidentDate|date('d-m-Y') }}{% endif %}</td>
                <td>{% if legalCase.complainDate %}{{ legalCase.complainDate|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <a href="{{ path('legalcase_show', { 'id': legalCase.id }) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('legalcase_edit', { 'id': legalCase.id }) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
