{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        <fieldset>
            <legend>Case Information</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Case Number</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.caseNumber) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Case Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.caseName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Crime Scene</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.crimeScene) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Incident Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.incidentDate) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Complain Date</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainDate) }}
                </div>
            </div>

            <legend>Complainant Details</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.fullName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.address) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Ward</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.ward) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">LGA</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.lga) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Place of Work</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.placeOfWork) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.phone) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.email) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Victim</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.relationshipWithVictim) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Suspect</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.complainant.relationshipWithSuspect) }}
                </div>
            </div>

            <legend>Victim</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.fullName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.address) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Ward</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.ward) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">LGA</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.lga) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">School\Occupation</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.occupation) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.phone) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.email) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Suspect</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.victim.relationshipWithSuspect) }}
                </div>
            </div>

            <legend>Suspect Details</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.fullName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.address) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Ward</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.ward) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">LGA</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.lga) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Place of Work</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.placeOfWork) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.phone) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.email) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Victim</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.suspect.relationshipWithVictim) }}
                </div>
            </div>

            <legend>Witness</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Full Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.fullName) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.address) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Ward</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.ward) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">LGA</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.lga) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Place of Work</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.placeOfWork) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Phone</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.phone) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.email) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Victim</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.relationshipWithVictim) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relationship With Suspect</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.witness.relationshipWithSuspect) }}
                </div>
            </div>

            <legend>Case Details</legend>
            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Relevant Information</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.relevantInformation) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Action Taken Before Complain</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.actionTakenBeforeComplain) }}
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">Recommendation</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    {{ form_widget(form.recommendation) }}
                </div>
            </div>
        </fieldset>

        <div class="col-md-offset-3 col-sm-offset-3 col-xs-offset-12">
            <input type="submit" value="Save Case" class="btn btn-success">
        </div>
    {{ form_end(form) }}
{% endblock %}
