{% extends 'base.html.twig' %}

{% block body %}
    <h1>Case Detail</h1>

    <table class="table">
        <tr>
            <th>Case Number</th>
            <td>{{ legalCase.caseNumber }}</td>
        </tr>
        <tr>
            <th>Case Name</th>
            <td>{{ legalCase.caseName }}</td>
        </tr>
        <tr>
            <th>Crime Scene</th>
            <td>{{ legalCase.crimeScene }}</td>
        </tr>
        <tr>
            <th>Incident Date</th>
            <td>{% if legalCase.incidentDate %}{{ legalCase.incidentDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Date of Complain</th>
            <td>{% if legalCase.complainDate %}{{ legalCase.complainDate|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Relevant Information</th>
            <td>{{ legalCase.relevantInformation }}</td>
        </tr>
        <tr>
            <th>Action Taken Before Complain</th>
            <td>{{ legalCase.actionTakenBeforeComplain }}</td>
        </tr>
        <tr>
            <th>Recommendation</th>
            <td>{{ legalCase.recommendation }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <h4>Victim</h4>
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <td>{{ legalCase.victim.fullName }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ legalCase.victim.address }}</td>
                </tr>
                <tr>
                    <th>Ward</th>
                    <td>{{ legalCase.victim.ward }}</td>
                </tr>
                <tr>
                    <th>LGA</th>
                    <td>{{ legalCase.victim.lga }}</td>
                </tr>
                <tr>
                    <th>Place of Work</th>
                    <td>{{ legalCase.victim.placeOfWork }}</td>
                </tr>
                <tr>
                    <th>Occupation</th>
                    <td>{{ legalCase.victim.occupation }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ legalCase.victim.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ legalCase.victim.email }}</td>
                </tr>
                <tr>
                    <th>Relationship With Suspect</th>
                    <td>{{ legalCase.victim.relationshipWithSuspect }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <h4>Complainant</h4>
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <td>{{ legalCase.complainant.fullName }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ legalCase.complainant.address }}</td>
                </tr>
                <tr>
                    <th>Ward</th>
                    <td>{{ legalCase.complainant.ward }}</td>
                </tr>
                <tr>
                    <th>LGA</th>
                    <td>{{ legalCase.complainant.lga }}</td>
                </tr>
                <tr>
                    <th>Place of Work</th>
                    <td>{{ legalCase.complainant.placeOfWork }}</td>
                </tr>
                <tr>
                    <th>Occupation</th>
                    <td>{{ legalCase.complainant.occupation }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ legalCase.complainant.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ legalCase.complainant.email }}</td>
                </tr>
                <tr>
                    <th>Relationship With Suspect</th>
                    <td>{{ legalCase.complainant.relationshipWithSuspect }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <h4>Suspect</h4>
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <td>{{ legalCase.suspect.fullName }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ legalCase.suspect.address }}</td>
                </tr>
                <tr>
                    <th>Ward</th>
                    <td>{{ legalCase.suspect.ward }}</td>
                </tr>
                <tr>
                    <th>LGA</th>
                    <td>{{ legalCase.suspect.lga }}</td>
                </tr>
                <tr>
                    <th>Place of Work</th>
                    <td>{{ legalCase.suspect.placeOfWork }}</td>
                </tr>
                <tr>
                    <th>Occupation</th>
                    <td>{{ legalCase.suspect.occupation }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ legalCase.suspect.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ legalCase.suspect.email }}</td>
                </tr>
                <tr>
                    <th>Relationship With Suspect</th>
                    <td>{{ legalCase.suspect.relationshipWithSuspect }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <h4>Witness</h4>
            <table class="table">
                <tr>
                    <th>Full Name</th>
                    <td>{{ legalCase.witness.fullName }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ legalCase.witness.address }}</td>
                </tr>
                <tr>
                    <th>Ward</th>
                    <td>{{ legalCase.witness.ward }}</td>
                </tr>
                <tr>
                    <th>LGA</th>
                    <td>{{ legalCase.witness.lga }}</td>
                </tr>
                <tr>
                    <th>Place of Work</th>
                    <td>{{ legalCase.witness.placeOfWork }}</td>
                </tr>
                <tr>
                    <th>Occupation</th>
                    <td>{{ legalCase.witness.occupation }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ legalCase.witness.phone }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ legalCase.witness.email }}</td>
                </tr>
                <tr>
                    <th>Relationship With Suspect</th>
                    <td>{{ legalCase.witness.relationshipWithSuspect }}</td>
                </tr>
            </table>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('legalcase_index') }}">Back to dte list</a>
        </li>
        <li>
            <a href="{{ path('legalcase_edit', { 'id': legalCase.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
