<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Coalition Against Rape and Violence</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css') }}" rel="stylesheet">
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <img src="{{ asset('assets/images/logo.jpg') }}" alt="">
                <form action="{{ path('login') }}" method="post">
                    <h1>Login Form</h1>

                    <input type="hidden" name="_target_path" value="/" />

                    {% if error %}
                        <div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div>
                        <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" name="_password" required="" />
                    </div>
                    <div>
                        <button class="btn btn-default submit" type="submit">Log in</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1>CARAV</h1>
                            <p>&copy;2016 All Rights Reserved. SNAQuaye Concept. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
</body>
</html>